* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body,
#root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f4f8;
    position: fixed;
}
.title{
    text-transform: uppercase;
    color: rgb(40, 90, 90);
    text-align: center;
}